# dependencies
node_modules/

# build output
dist/
build/

# nx
.nx/cache
.nx/workspace-data

# .NET
bin/
obj/

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editor / OS
.DS_Store
.vscode/
.idea/
*.swp

# env
.env
